{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- assign featured_image_id = featured_image.id -%}
{%- assign featured_image_position = featured_image.position -%}
{%- assign variants = product.variants -%}
{%- assign firstV = product.variants.first -%}
{%- assign lastV = product.variants.last -%}



{%- assign firstVFeaturedImage = firstV.featured_image -%}
{%- assign lastVFeaturedImage = lastV.featured_image -%}

{%- assign firstVFeaturedImageID = firstVFeaturedImage.id -%}
{%- assign lastVFeaturedImageID = lastVFeaturedImage.id -%}


{% assign count = 0 %}
{% assign option = product.variants[0].option1 %}
{% assign currentPosition = '' %}
{% assign nextPosition = '' %}



{%- if firstVFeaturedImageID == lastVFeaturedImageID -%}
  <!-- YES111 -->
{%- else -%}
    <!-- nopenope -->
{%- endif -%}




{%- for variant in product.variants -%}
  {%- if option != variant.option1  -%}
    {% assign count = forloop.index0 %}
    {% break %}
  {%- endif -%}
  {% assign option = variant.option1 %}
{%- endfor -%}

{%- for variant in product.variants -%}

  {% assign mod = forloop.index | modulo: count %}
  {% assign nextIndex = forloop.index | plus: count %}

  {%- if mod == 0 -%}
    {% assign nextIndex = forloop.index %}
  {%- else -%}
    {% assign nextIndex = forloop.index | plus: count %}
  {%- endif -%}

  {% assign thirdIndex = nextIndex | plus: 1 %}

  {% assign currentPosition = product.variants[forloop.index0].featured_image.position | minus: 1 %}
  {% assign nextPosition = product.variants[nextIndex].featured_image.position | minus: 1 %}
  {% assign thirdPosition = product.variants[thirdIndex].featured_image.position | minus: 1 %}
  {% assign actualNextPosition = product.variants[forloop.index].featured_image.position | minus: 1 %}
  {% assign variable = value %}

  {%- if currentPosition == actualNextPosition -%}
    <!-- YES -->
  {%- else -%}
    <!-- NO -->
  {%- endif -%}

  {%- if nextPosition == -1 -%}
    {% assign isLast = true %}
  {%- else -%}
    {% assign isLast = false %}
  {%- endif -%}



  {% if firstVFeaturedImageID == lastVFeaturedImageID %}
    {%- if currentPosition == actualNextPosition -%}
      {%- assign activeClass = 'hide' -%}
    {%- else -%}
      {%- assign activeClass = 'active' -%}
    {%- endif -%}
  {% else %}
    {% if current_variant.id == variant.id %} 
      {%- assign activeClass = 'active' -%}
    {% else %} 
      {%- assign activeClass = 'hide' -%}
    {% endif %}
  {% endif %}




  <div id="thumbs-{{ variant.id }}" class="col-sm-2 mobile-hide product_image_selector {{activeClass}}" data-index="{{ forloop.index0 }}">
    <ul class="product_image--thumb-ul">
        {%- if forloop.first -%}
          {% assign firstVariant = variant.option1 %}
        {%- endif -%}

        {%- for image in product.images -%}
          {%- if currentPosition == forloop.index0  -%}
            <li class="product_image--thumb-li">
              <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %} aria-label="{{ variant.title }} Link">
                <div class="lazyload product_image--thumb" data-bgset="{% include 'responsive-bg-image', image: image.src %}" alt="{{ variant.title }}"></div>
              </a>
            </li>
          {%- endif -%}

   
          {%- if currentPosition < forloop.index0 and nextPosition > forloop.index0  -%}
            <li class="product_image--thumb-li">
              <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %} aria-label="{{ variant.title }} Link">
                <div class="lazyload product_image--thumb" data-bgset="{% include 'responsive-bg-image', image: image.src %}" alt="{{ variant.title }}"></div>
              </a>
            </li>
          {%- endif -%}

          {%- if currentPosition < forloop.index0 and isLast -%}
            <li class="product_image--thumb-li">
                <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %} aria-label="{{ variant.title }} Link">
                  <div class="lazyload product_image--thumb" data-bgset="{% include 'responsive-bg-image', image: image.src %}" alt="{{ variant.title }}"></div>
                </a>
              </li>
          {%- endif -%}
        {%- endfor -%}
    </ul>
</div>

{%- endfor -%}
