{% for option in product.options %}

  {% assign index = forloop.index0 %}
  {% assign sizeList = '' %}
  {% assign availableList = '' %}

  {% for variant in product.variants %}
    {% capture size %}{{ variant.options[index] }}{% endcapture %}

    {% unless sizeList contains size %}
      {% capture tempList %}{{ sizeList | append: size | append: '!..!' }}{% endcapture %}
      {% assign sizeList = tempList %}
    {% endunless %}

    {% unless availableList contains size %}
      {% if variant.available %}
        {% capture tempList %}{{ availableList | append: size | append: '!..!' }}{% endcapture %}
        {% assign availableList = tempList %}
      {% endif %}
    {% endunless %}
  {% endfor %}

  {% assign sizeList = sizeList | split: "!..!" %}

  {% if sizeList.size > 0 %}
    <div class="js product_form--options-container">
      <fieldset class="row" id="ProductSelect-option-{{ forloop.index0 }}" name="{{ option | handleize }}">
        <legend class="col-4 product_form--label">
          {% if option == 'Title' %}
            Select
          {% else %}
            {{ option }}
          {% endif %}
        </legend>

        <div class="col-6">
          {% for item in sizeList %}
            {% if item != blank %}
              {% assign index1 = forloop.index0 %}
              {% assign size = item | strip %}
              {% assign available = "unavailable" %}
              {% if availableList contains size %}
                {% assign available = "available" %}
              {% endif %}

              {% render "size-button" with {
                size: size,
                productID: product.id,
                available: available,
                index: index,
                index1: index1,
                optionName: option,
                current_variant: current_variant
              } %}
            {% endif %}
          {% endfor %}
        </div>

        <div class="col">
          {% if forloop.index0 == 0 %}
            <div class="number-input-wrapper">
              <label class="label-hidden" for="Quantity">Quantity</label> 
              <input type="number" id="Quantity" name="quantity" value="1" min="1">
              <a href="#" class="subtract-one-prod" data-product-id="{{ product.variants.first.id }}" aria-label="Subtract Link" data-operation="subtract">-</a>
              <span class="qty-readout">1</span>
              <a href="#" class="add-one-prod" data-product-id="{{ product.variants.first.id }}" aria-label="Add Link" data-operation="add">+</a>
            </div>
          {% endif %}
        </div>
      </fieldset>
    </div>
  {% endif %}

{% endfor %}
