<div class="container">
  <div class="login_container">
  </div>
</div>


<div class="form-reset-password">
  {% form 'reset_customer_password' %}
    <div>
      <h1 class="login_container--title">{{ 'customer.reset_password.title' | t }}</h1>
      <p class="login_container--desc">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    </div>


    <div>
      {{ form.errors | default_errors }}
      <div class="login_container--input-container">
        <label for="ResetPassword" class="label-hidden">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="ResetPassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}">
      </div>

      <div class="login_container--input-container">
        <label for="PasswordConfirmation" class="label-hidden">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
      </div>

      <button type="submit" name="button" class="">{{ 'customer.reset_password.submit' | t }}</button>

    </div>
  {% endform %}
</div>
