<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'orbislabs_sitemap_noindex' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <meta name="google-site-verification" content="IV7BPLESttSpBdxSWN1s4zlr4HIcuHkGQYmE3wLG59w">
    <meta name="google-site-verification" content="EEJOBMvpwGSySxaciIIrj27iKTUCH6Deg8R_lR8Yby0">
    <meta name="google-site-verification" content="wLyYf7hB0Mr_0rGVIHaw30G2Vb6qZbaX6PyEUFbA8cA">
    {% if handle contains 'sell-sheet' %}
      <meta name="robots" content="noindex">
    {% endif %}
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% if page.handle contains 'wholesale' %}
      <link rel="stylesheet" href="{{ 'selectric.css' | asset_url }}">
    {% endif %}
    {% liquid
      render 'social-meta-tags'
      render 'style-tags'
      render 'css-variables'
    %}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');
      window.theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }},
        template: {{ template | json }},
        productType: 'default',
        articles: [],
      };
      var isGift = false;
    </script>
    {% render 'script-tags' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>
    <!-- CART JS -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.0.1/rivets-cart.min.js"
    ></script>
    {% comment %}
      [if (gt IE 9)|!(IE)]>
        <script src="{{ rivets.min.js' | asset_url }}" defer="defer"></script>
      [if lt IE 9]><script src="{{ rivets.min.js' | asset_url }}"></script><![endif]
    {% endcomment %}
    <script src="{{ 'jquery.selectric.min.js' | asset_url }}" defer="defer"></script>
    {% comment %}[if lt IE 9]><script src="{{ 'jquery.selectric.min.js' | asset_url }}"></script><![endif]{% endcomment %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {{ 'custom-style.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
    {{ 'custom-fields.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'custom-fields-widgets.js' | asset_url }}" defer="defer"></script>
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} suffix-{{ template.suffix }} ">
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>
    {% section 'header' %}
    {% section 'popup' %}
    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>
    {% section 'template-footer' %}
    <div class="nav-overlay"></div>

    <script type="text/javascript">
      var cart = {{ cart | json }};
      jQuery(function() {
        CartJS.init(cart, {
          "currency": "{{ shop.currency }}",
            "moneyFormat": "{{ shop.money_format }}",
            "moneyWithCurrencyFormat": "{{ shop.money_with_currency_format }}"

          });
          rivets.formatters.currency = function(value) {
              return '$' + (value / 100).toFixed(2);
          }
      });
    </script>
    {% comment %}
      <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'sell-sheet.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
      <!--[if lt IE 9]><script src="{{ 'sell-sheet.js' | asset_url }}"></script><![endif]-->
    {% endcomment %}
    {% include 'pixel' %}
  </body>
</html>
