<section class="design-awards" style="background-color: {{ section.settings.bg_color }}">
     <div class="container">
         <div class="cols-1-2">
             <div>
                 <div class="design-awards__emblem">
                        {% assign image = section.settings.image %}
                        <a href="{{ section.settings.button_link }}" aria-label="Learn More about We're a Certified B Corp link">

                        {% include 'responsive-image' with image: image, image_class: "css-class", wrapper_class: "wrapper-css-class", max_width: 180, max_height: 800 %}
                        
                        </a>
                        <style>
                          .design-awards__emblem .responsive-image__wrapper {
                            max-width: 18rem !important;
                            margin: auto;
                          }
                        </style>
                 </div>
             </div>
             <div>
                 <div class="design-awards__txt-container" style="    padding-top: 2rem;"> 
                    {% if section.settings.title != blank %}
                        <h2 class="design-awards__title">{{ section.settings.title }}</h2>
                    {% endif %}
                    {% if section.settings.desc != blank %}
                        <div class="design-awards__desc">{{ section.settings.desc }}</div>
                    {% endif %}
                    {% if section.settings.button_link != blank %}
                      <a href="{{ section.settings.button_link }}" aria-label="Learn More about We're a Certified B Corp link" class="button">
                        {{ section.settings.button_label | default: "Learn More" }}
                      </a>
                  {% endif %}
               </div>
                 
             </div>
         </div>
     </div>
 </section>


{% schema %}
{
  "name": "Design Award",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#E2D9BE"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Learn More"
      }
  ],
  "presets": [
    {
      "name": "Design Award",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}