<footer>
  <div class="container">

    <div class="footer-container d-flex justify-content-md-between">
      <nav class="footer_nav_left d-md-flex">
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
            {% for link in linklists[footer_linklist].links %}
              <ul>
                {% for childlink in link.links %}
                  <li><a href="{{ childlink.url }}" aria-label="{{childlink.title}} Link">{{ childlink.title }}</a></li>
                {% endfor %}
              </ul>
            {% endfor %}
        {% endif %}
      </nav>


      <nav class="footer_nav_right d-md-flex">
        {%- assign footer_linklist = section.settings.footer_linklist_right -%}
        {% if linklists[footer_linklist].links.size > 0 %}

            {% for link in linklists[footer_linklist].links %}
              <div class="d-md-flex flex-column">
                <h4>{{ link.title }}</h4>
                <ul>
                  {% for childlink in link.links %}
                    <li><a href="{{ childlink.url }}" aria-label="{{childlink.title}} Link">{{ childlink.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>

            {% endfor %}
        {% endif %}
      </nav>
    </div>



    {%- include 'icon-footer' -%}

    


  </div>
  {%- include 'copyright' -%}


</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_right",
        "label": "First Menu Right"
      }
    ]
  }

{% endschema %}
